Highrise.xcodeproj/xcshareddata/xcschemes/Highrise.xcscheme
Highrise.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Highrise.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
